.main {
    display: flex;
}

.main-content-page {
    margin: 20px;

}

.group-form{
    margin: 20px;
}

/*===================================================================*/
.dash-header {
    display: flex;
    justify-content: space-between;
}

.dash-header-info {
    text-align: center;
}

#dash-nav{
    display: flex;
    flex-wrap: wrap;
}

.inner-dash-nav{
    margin: 15px;
}

.stats{
    padding-left: 10px;
}


/******************************************************************************/
#form-dates{
    display: flex;
}

.form-date{
    margin: 10px 100px;
    display: flex;
    flex-direction: column;
}

.form-inputdate{
    width: 250px;
}

.form-campus{
    display: flex;
    flex-direction: column;
}

.checkCampus{
    margin-right: 5px;
}

.checkCampusLabel{
    margin-right: 20px;
}

.dateTime{
    display: flex;
}

.dateTime select{
    margin-left: 10px;
    width: 80px;
}